body,html{
    height: 100%;
}
.background{
    /*background-image: linear-gradient(hotpink, magenta);*/
    background-image: linear-gradient(125deg,cornflowerblue,cadetblue,hotpink,pink,wheat,cadetblue,cornflowerblue);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 400%;
    animation: bganimation 25s infinite;
}
.header1{
    alignment: center;
}
@keyframes bganimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
